services:
  web:
    build: .
    container_name: auto_order_bot_web
    restart: unless-stopped
    ports:
      - "8002:8000"           # وب روی 8002 بیرون
    volumes:
      - .:/app
    environment:
      - DJANGO_DEBUG=True     # چون در settings از DJANGO_DEBUG می‌خوانی
      - DOCKER_ENV=1
    networks:
      - redis_net

  price_watcher:
    build: .
    container_name: auto_order_bot_price_watcher
    restart: unless-stopped
    # ناظر فقط کامندش فرق می‌کند:
    command: python manage.py run_price_watcher
    volumes:
      - .:/app
    environment:
      - DJANGO_DEBUG=True
      - DOCKER_ENV=1
    networks:
      - redis_net

networks:
  redis_net:
    name: redis_backend_network
    external: true